<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/static/css/style.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>ML Based Calculator</title>
</head>

<body>
  <div class="row">
    <div class="col s12">
      <h1 class="center-align">Machine Learning Based Calculator</h1>
    </div>
  </div>
  <!-- ./ CONTAINER BEGINS -->
  <div class="container">
    <div class="row">
      <h3>Summation Operation</h3>
    </div>
    <div class="row">
      <form id="summation_form" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input id="first_number" type="number" class="validate" required="">
            <label for="first_number">First Number</label>
          </div>
          <div class="col s4 center-align">
            <button id="add_button" class="btn-floating btn-large waves-effect blue" onsubmit="return false;">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="input-field col s4">
            <input id="second_number" type="number" class="validate" required="">
            <label for="second_number">Second Number</label>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <h3>Subtraction Operation</h3>
    </div>
    <div class="row">
      <form id="subtraction_form" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input id="first_number_subtraction" type="number" class="validate" required="">
            <label for="first_number_subtraction">First Number</label>
          </div>
          <div class="col s4 center-align">
            <button class="btn-floating btn-large waves-effect blue">
              <i class="material-icons">remove</i>
            </button>
          </div>
          <div class="input-field col s4">
            <input id="second_number_subtraction" type="number" class="validate" required="">
            <label for="second_number_subtraction">Second Number</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- ./ CONTAINER END -->
  <!-- FOOTER -->
  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h5>About Me</h5>
          <a class="white-text" href="https://www.linkedin.com/in/hikmetyavuz/">LinkedIn</a>
          <br>
          <a class="white-text" href="https://github.com/AyberkYavuz">Github</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copy &copy; 2021

      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/js/server_request_handler.js"></script>
</body>


</html>